@use "_variables.scss" as *;

.footer{
    background-color: $mainColor;
    display: flex;
    flex-direction: row;
    padding: 2%;

    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
    }
    &-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        width: 66%;

        &-item{
            
            &-list{
                padding: 0;
                
                p{
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 1px black;
                }
                li{
                list-style-type: none;
                color: rgb(224, 224, 224);
                text-align: center;
                

                }
                a{
                    text-decoration: none;
                }
                a:hover{
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}
.footer-copyright{
    background-color: $mainColor;
    
    hr{
        margin: 0;
        padding: 0;
        color: white;
        height: 3px;
        border: none;
        background-color: white;
    }
    p{
        color: white;
        text-align: center;
        margin: 0;
        padding: 10px;
    }
}

@media (max-width:800px) {
    .footer{
        flex-direction: column;

        &-logo{
        width: 100%;
        margin-bottom: 25px;
        }
        &-links{
            width: 100%;
        }
    }
}
@media (max-width:800px) {
    .footer{
        &-links{
            flex-direction: column;
        }
    }
}